/.vscode
/1st.webp
/26.html
/2nd.png
/3rd.png
/bgimg.jpg
/bgrimg.webp
/boys - Copy.jpg
/boys.jpg
/class 59 .html
/class22.html
/class23.html
/class24.html
/class25.html
/class26.html
/class28.html
/class30.html
/class31.html
/class33.html
/class35.html
/class36and37.html
/class40&41.html
/class42.html
/class58.html
/class61&62.html
/class63.js
/class66.js
/class67
/css
/gm copy.png
/img
/index.html
/index.js
/jym - Copy.jpg
/jym.jpg
/logo.png
/logo1.webp
/logo2.webp
/logo3.jpg
/logo4.webp
/logo5.png
/shrt.jpg
/tute